<!-- <div class="topnav">
  <div class="container-fluid">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home"> Home </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="squads"> Squads </a></li>
    </ul>
  </div>
</div> -->
<div class="topnav">
    <a routerLink="home"> Home </a>
    <a routerLink="heroes"> Heroes </a>
    <a routerLink="squads"> Squads </a>
  </div>
<div class="container">
  <router-outlet></router-outlet>
</div>